body{
    font-family: sans-serif;
    color: aliceblue;
   
    
}
.main__content {
background-color: #671436;
width: 500px;
margin: 200px auto;
display: flex;
justify-content: space-around;
align-items: center;
border-bottom: 6px solid #86937a;
padding: 10px 20px;
transition: 1.5s;

}

.main__content:hover{
background-color: #f2e4ea;
color:#671436 ;
border: 1px solid rgb(93, 89, 89);
}
.main__content ,.image img{
    border-radius: 10px;
box-shadow: 1px 2px 2px #671436;

}
.image img{
    width: 200px;
    margin: 20px 0;
background-color:230608;


}
.my__det p{
    font-size: 1rem;
}
